body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.self-menu {
  display: flex;
  height: 87vh;
}

.self-menu-left {
  display: flex;
  flex-grow: 1;
}



.self-menu-left-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;

}

.self-menu-left-list>div {
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-items: start;
  width: 100%;
  padding-left: 10px;
  font-size: 16px;
}

.self-menu-left-list>.selected {
  background-color: white;
}

.self-menu-right {
  display: flex;
  flex-grow: 1;
}


.self-menu-right-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: white;
}

.self-menu-right-list>div {
  min-height: 44px;
  display: flex;
  align-items: center;
  justify-items: start;
  width: 100%;
  padding-left: 10px;
  font-size: 16px;

  border-bottom: 1px solid #eee;
}